body{
    background-color: lightgray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.main-header{
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

#content{
    height: 78%;
    width: 90%;
    border: 3px solid darkgray;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.food-image{
    max-height: 250px;
    border-radius: 50px;
    border: 2px solid lightcoral;
}

.tabs{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    grid-template-columns: 1fr;
    gap: 5px;
    border-right: 3px solid darkgray;
}

.tab-button{
    font-size: 3rem;
    font-weight: bold;
}

.home-div{
    padding: 0px 30px 30px 30px;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 30vw auto;
    gap: 16px;
    justify-items: center;
    align-items: center;
}

.home-div img{
    height: 100%;
    max-height: 18vw;
    border-radius: 15px;
    border: 5px solid grey;
}

.home-div > p{
    width: 90%;
    font-size: 1.5rem;
}

.home-title, .menu-title, .contact-title{
    grid-column: 1 / 3;
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

.hours-of-operations{
    grid-column: 1 / 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    align-self: start;
    margin-top: 30px;
}

.hours-of-operations > h2{
    font-size: 2rem;
}

.hours-of-operations > p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.25rem;
}

.menu-div{
    padding: 0px 30px 30px 30px;
    display: grid;
    grid-template-rows: 2fr 3fr 3fr 3fr;
    grid-template-columns: 1fr;
    grid-auto-rows: 3fr;
    gap: 16px;
    justify-items: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.food-item{
    display: flex;
    grid-column: 1 / 3;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    width: 95%;
}

.food-item > img{
    background-size:100% 100%;
    height: 150px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border: 5px solid olivedrab;
}

.food-description{
    margin-right: 50px;
}

.food-price{
    font-size: 1.5rem;
    font-weight: bold;
}

h2.menu-title, h2.contact-title{
    margin: 30px 0px;
}

.contact-div{
    padding: 0px 30px 30px 30px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;
    align-items: center;
}

.contact-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px 50px;
    height: 90%;
    width: 60%;
    align-self: flex-start;
    border: 5px solid black;
    padding: 20px;
    font-weight: bold;
}

.form-row{
    display: flex;
    font-size: 2rem;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.form-input > input{
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

#email, #phone{
    width: 370px;
}

.form-row > textarea{
    height: 80%;
    width: 350px;
}